<?php
return [
    "date_default_timezone_set"=>"Asia/Shanghai",
    "memory_limit"=>"1024M",
    "session"=>[
        "name"=>"TSESSIONID",
        "cache_expire"=>60*60*2,
        "path"=>"/",
        "domain"=>"",
        "secure"=>false,
        "httponly"=>true,
    ],
    "adapter"=>[
        "database"=>"pool",//pool or default
        "redis"=>"pool"
    ],
    "aliases"=>[],
    "di"=>[],
    "email"=>[
        "server"=>[
            "smtp"=>"",
            "port"=>465,
            "username"=>"",
            "password"=>"",
            "encryption"=>"ssl",
        ]
    ],
    "middleware"=>[

    ],
    "task"=>[],
  "view"=>[
        "path"=>__DIR__."/../../resource/views",
        "theme"=>"default",
        "compile_path"=>__DIR__."/../../storage/tplcompile",
        "engine"=>"blade",
        "fis"=>[
            "map_path"=>"resource/map",
            "view_path"=>"resource/views",
        ]
    ]
];