<?php

/**
 * User: Peter Wang
 * Date: 16/9/13
 * Time: 下午3:18
 */
namespace ${Name}\Controller;

use Trendi\Foundation\Controller;

class Index extends Controller
{

    public function index()
    {
        return $this->render("index/index");
    }

}